# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore editor files
*.git/
*.idea/
dart_tool/
cert.dart
